@page "/Toys/delete/{Id}"
@attribute [Authorize(Roles = "Administrator")]

@inject IToyRepository _repo
@inject NavigationManager _navManager
@inject IFileUpload _fileUpload
@inject IToastService _toastService

<h3>Are You Sure You Want to Delete This Record?</h3>
<hr />
<br />
@if (!isSuccess)
{
    <ErrorMessage Message="Something Went Wrong With the Operation" />
}


@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <ErrorMessage Message="Invalid Selection. Please Try Again" />
}
else if (Model == null)
{
    <LoadingMessage Message="Loading Toy Details" />
}
else
{
    <div class="row">
        <div class="col-6">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <strong>Name</strong>
                    </td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>
                        <strong>Manufacture</strong>
                    </td>
                    <td>
                        @if (Model.Seller == null)
                        {
                            <span class="text-muted">No Manufacture Recorded</span>
                        }
                        else
                        {
                            <a href="/Manufactures/view/@Model.SellerId">@Model.Seller.FirstName @Model.Seller.LastName</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Summary</strong>
                    </td>
                    <td>@Model.Summary</td>
                </tr>
                <tr>
                    <td>
                        <strong>Year Of Production </strong>
                    </td>
                    <td>@Model.YearOfProduction</td>
                </tr>
                <tr>
                    <td>
                        <strong>ModelNumber</strong>
                    </td>
                    <td>@Model.ModelNumber.</td>
                </tr>

            </table>
        </div>
        <div class="col-4">
            <img src="uploads/@Model.Image" style="height:300px; width:300px" />
            <h3 class="text-center text-info">@string.Format("{0:C}", Model.Price)</h3>
        </div>
    </div>
}

<button @onclick="DeleteToy" class="btn btn-danger">
    <span class="oi oi-delete"></span>
    Delete Toy
</button>

<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back To List
</button>

@code {
    [Parameter]
    public string Id { get; set; }

    private Toy Model = new Toy();
    private bool isSuccess = true;

    protected override async Task OnInitializedAsync()
    {
        int id = Convert.ToInt32(Id);
        Model = await _repo.Get(Endpoints.ToysEndpoint, id);
    }

    private async Task DeleteToy()
    {
        _fileUpload.RemoveFile(Model.Image);
        isSuccess = await _repo.Delete(Endpoints.ToysEndpoint, Model.Id);
        if (isSuccess)
        {
            _toastService.ShowError("Toy Deleted Successfully", "");
            BackToList();
        }

    }

    private void BackToList()
    {
        _navManager.NavigateTo("/Toys/");
    }

}
